@media (max-width: 450px) {
    .mobile-wrap-btn {
        white-space: normal;
        text-align: center;
        line-height: 1.2;
        padding-top: 4px;
        padding-bottom: 4px;
        height: auto;
        min-height: 32px;
        width: 72px;
    }
}

:host {
    display: block;
}