@media (max-width: 425px) {
    .mobile-wrap-btn {
        white-space: normal !important;
        text-align: center;
        line-height: 1.2;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        height: auto !important;
        min-height: 32px;
        width: 85px;
    }
}

:host {
    display: block;
    height: 100%;
}