<div class="w-full" [ngClass]="[backgroundClass(), containerClass()]">
    <div class="max-w-[1144px] mx-auto">
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-[16px]">
            @for (stat of stats(); track stat.description) {
                <div class="flex flex-col justify-start gap-[8px] items-start bg-white rounded-[12px] p-[16px] sm:p-[20px] aspect-square">
                    <div class="flex items-baseline" [style.color]="stat.color || '#000'">
                        <span class="font-medium font-sans text-[24px] leading-normal">{{
                            stat.value }}<span *ngIf="stat.suffix === '%'">%</span></span>
                        <span *ngIf="stat.suffix && stat.suffix !== '%'"
                            class="font-medium font-sans text-[24px] leading-normal ml-[2px]">{{
                            stat.suffix }}</span>
                    </div>
                    <p class="text-[rgba(77,77,77,0.7)] font-normal font-sans leading-normal m-0 text-base md:text-xl">
                        {{ stat.description }}
                    </p>
                </div>
            }
        </div>
    </div>
</div>