<div class="w-full">
  <!-- Hero Section -->
  <app-hero></app-hero>

  <!-- Logo Carousel Section -->
  <app-logo-carousel></app-logo-carousel>


  <!-- Case Study Section -->
  <app-case-study></app-case-study>

  <!-- Testimonial Section -->
  <app-testimonial></app-testimonial>

  <!-- CTA Card Section -->
  <app-cta-card></app-cta-card>

  <!-- Process Steps Section -->
  <app-process-steps></app-process-steps>

  <!-- Security Card Section -->
  <app-security-card></app-security-card>
</div>