<section class="flex flex-col items-start md:items-center w-full max-w-[1144px] mx-auto gap-[24px]">
    <div class="flex flex-col items-start md:items-center gap-[12px]">
        <div class="flex items-center gap-[8px] bg-ai-gray-250 py-[4px] px-[12px] md:px-[16px] rounded-[12px]">
            <lucide-icon [img]="landmarkIcon" [size]="14" class="text-text-muted"></lucide-icon>
            <span class="text-text-muted font-medium text-[16px]">Financial Services</span>
        </div>
        <h1
            class="text-black font-medium text-[32px] md:text-[48px] xl:text-[64px] leading-normal text-left md:text-center m-0">
            Behördenanfragen auf Autopilot
        </h1>
    </div>

    <p class="max-w-[828px] text-left md:text-center font-normal text-[16px] md:text-xl leading-normal m-0">
        <span class="text-[rgba(77,77,77,0.7)]">Für einen Finanzdienstleister haben wir die staatlichen
            Auskunftsersuchen digitalisiert. Das Ergebnis? Beschleunigte Prüfprozesse, nahtlose Datenbeschaffung und
            maximale Compliance.</span>
    </p>
</section>